<div class="sidebar">
    <div class="sidebar-header">
      <a href="../" class="sidebar-logo">dashbyte</a>
    </div><!-- sidebar-header -->
    <div id="sidebarMenu" class="sidebar-body">
      <div class="nav-group show">
        <a href="#" class="nav-label">Dashboard</a>
        <ul class="nav nav-sidebar">
          
          <li class="nav-item">
            <a href="../dashboard/analytics.html" class="nav-link"><i class="ri-bar-chart-2-line"></i> <span>Website Analytics</span></a>
          </li>
         
        </ul>
      </div><!-- nav-group -->
      <div class="nav-group show">
        <a href="#" class="nav-label">Tasks</a>
        <ul class="nav nav-sidebar">
          
         
            <li class="nav-item">
                <a routerLink="/Add" class="nav-link"><i class="ri-calendar-line"></i> <span> Add Carpooling</span></a>
              </li>
            
              <li class="nav-item">
                <a routerLink="/list" class="nav-link"><i class="ri-checkbox-multiple-line"></i> <span>My Carpoolings</span></a>
              </li>
              <li class="nav-item">
                <a routerLink="/list" class="nav-link"><i class="ri-checkbox-multiple-line"></i> <span>My reservations</span></a>
              </li>
          
          
        </ul>
      </div><!-- nav-group -->
     
    </div><!-- sidebar-body -->
  
  </div><!-- sidebar -->
  
  <div class="header-main px-3 px-lg-4">
    <a id="menuSidebar" href="#" class="menu-link me-3 me-lg-4"><i class="ri-menu-2-fill"></i></a>
  
    <div class="form-search me-auto">
      <input type="text" class="form-control" placeholder="Search">
      <i class="ri-search-line"></i>
    </div><!-- form-search -->
  
   
    <div class="dropdown dropdown-profile ms-3 ms-xl-4">
        <a href="" class="dropdown-link" data-bs-toggle="dropdown" data-bs-auto-close="outside"><div class="avatar online"><img src="https://via.placeholder.com/500/4c5366/fff" alt=""></div></a>
        <div class="dropdown-menu dropdown-menu-end mt-10-f">
          <div class="dropdown-menu-body">
            <div class="avatar avatar-xl online mb-3"><img src="https://via.placeholder.com/500/4c5366/fff" alt=""></div>
            <h5 class="mb-1 text-dark fw-semibold">Shaira Diaz</h5>
            <p class="fs-sm text-secondary">Premium Member</p>
  
          
            <hr>
            <nav class="nav">
              
              <a href=""><i class="ri-user-settings-line"></i> Account Settings</a>
              <a href=""><i class="ri-logout-box-r-line"></i> Log Out</a>
            </nav>
          </div><!-- dropdown-menu-body -->
        </div><!-- dropdown-menu -->
    </div><!-- dropdown -->
  </div><!-- header-main -->
  
  <div class="main main-app p-3 p-lg-4">
    <div class="d-flex align-items-center justify-content-between mb-4">
      <div>
        <ol class="breadcrumb fs-sm mb-1">
          <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
          <li class="breadcrumb-item active" aria-current="page">My Carpoolings</li>
        </ol>
        <h4 class="main-title mb-0">My Carpoolings</h4>
      </div>
  
    
    </div>
  
    <div class="card card-settings">
        
        <div class="card-body p-0">
            <form [formGroup]="prodForm" (ngSubmit)="onSubmit()">
            <div class="setting-item">
                <i class="bi bi-geo-alt"></i>
                <div class="row g-2 align-items-center">
                  <div class="col-md-5">
                    <h6>Depart</h6>
                    
                  </div>
                  <div class="col-md">
                    <label for="depart">Depart</label>
                    <input type="text" class="form-control" id="depart" name="depart" formControlName="depart">
                  </div>
                </div>
              </div>
              <!-- Display error messages for the "depart" field -->
              <div style="margin-left: 80%;" *ngIf="prodForm.get('depart')?.invalid && (prodForm.get('depart')?.dirty || prodForm.get('depart')?.touched)" class="text-warning">
                <ng-container *ngIf="prodForm.get('depart')?.hasError('required')" >Depart is required.</ng-container>
              </div>
              
              <div class="setting-item">
                <div class="row g-2">
                  <div class="col-md-5">
                    <h6>Destination</h6>
                  </div>
                  <div class="col-md">
                    <label for="destination">Destination</label>
                    <input type="text" class="form-control" id="destination" name="destination" formControlName="destination">
                  </div>
                </div>
              </div>
              <!-- Display error messages for the "destination" field -->
              <div style="margin-left: 80%;" *ngIf="prodForm.get('destination')?.invalid && (prodForm.get('destination')?.dirty || prodForm.get('destination')?.touched)" class="text-warning">
                <ng-container *ngIf="prodForm.get('destination')?.hasError('required')">Destination is required.</ng-container>
              </div>
              
              <div class="setting-item">
                <div class="row g-2">
                  <div class="col-md-5">
                    <h6>Description</h6>
                  </div>
                  <div class="col-md">
                    <label for="description">Description</label>
                    <input type="text" class="form-control" id="description" name="description" formControlName="description">
                  </div>
                </div>
              </div>
              <!-- Display error messages for the "description" field -->
              <div style="margin-left: 80%;" *ngIf="prodForm.get('description')?.invalid && (prodForm.get('description')?.dirty || prodForm.get('description')?.touched)" class="text-warning">
                <ng-container *ngIf="prodForm.get('description')?.hasError('required')">Description is required.</ng-container>
              </div>
              
              <div class="setting-item">
                <div class="row g-2">
                  <div class="col-md-5">
                    <h6>Bagage</h6>
                  </div>
                  <div class="col-md">
                    <label for="bagage">Bagage</label>
                    <input type="text" class="form-control" id="bagage" name="bagage" formControlName="bagage">
                  </div>
                </div>
              </div>
              <!-- Display error messages for the "bagage" field -->
              <div style="margin-left: 80%;" *ngIf="prodForm.get('bagage')?.invalid && (prodForm.get('bagage')?.dirty || prodForm.get('bagage')?.touched)" class="text-warning">
                <ng-container *ngIf="prodForm.get('bagage')?.hasError('required')">Bagage is required.</ng-container>
              </div>
              
              <div class="setting-item">
                <div class="row g-2">
                  <div class="col-md-5">
                    <h6>Phone</h6>
                  </div>
                  <div class="col-md">
                    <label for="phone">Phone</label>
                    <input type="text" class="form-control" id="phone" name="phone" formControlName="phone">
                  </div>
                </div>
              </div>
              <!-- Display error messages for the "phone" field -->
              <div style="margin-left: 80%;" *ngIf="prodForm.get('phone')?.invalid && (prodForm.get('phone')?.dirty || prodForm.get('phone')?.touched)" class="text-warning">
                <ng-container *ngIf="prodForm.get('phone')?.hasError('required')">Phone is required.</ng-container>
              </div>

              <div class="setting-item">
                <div class="row g-2">
                  <div class="col-md-5">
                    <h6>Marque</h6>
                  </div>
                  <div class="col-md">
                    <label for="marque">Marque</label>
                    <input type="text" class="form-control" id="marque" name="marque" formControlName="marque">
                  </div>
                </div>
              </div>
              <!-- Display error messages for the "marque" field -->
              <div style="margin-left: 80%;" *ngIf="prodForm.get('marque')?.invalid && (prodForm.get('marque')?.dirty || prodForm.get('marque')?.touched)" class="text-warning">
                <ng-container *ngIf="prodForm.get('marque')?.hasError('required')">marque is required.</ng-container>
              </div>

              
              <div class="setting-item">
                <div class="row g-2">
                  <div class="col-md-5">
                    <h6>Date</h6>
                  </div>
                  <div class="col-md">
                    <label for="date">Date</label>
                    <input type="date" class="form-control" id="date" name="date" formControlName="date">
                  </div>
                </div>
              </div>
              <!-- Display error messages for the "date" field -->
              <div style="margin-left: 80%;" *ngIf="prodForm.get('date')?.invalid && (prodForm.get('date')?.dirty || prodForm.get('date')?.touched)" class="text-warning">
                <ng-container *ngIf="prodForm.get('date')?.hasError('required')">Date is required.</ng-container>
              </div>
              
              <div class="setting-item">
                <div class="row g-2">
                  <div class="col-md-5">
                    <h6>Place</h6>
                  </div>
                  <div class="col-md">
                    <label for="place">Place</label>
                    <input type="number" class="form-control" id="place" name="place" formControlName="place" min="1">
                  </div>
                </div>
              </div>
              <!-- Display error messages for the "place" field -->
              <div style="margin-left: 80%;" *ngIf="prodForm.get('place')?.invalid && (prodForm.get('place')?.dirty || prodForm.get('place')?.touched)" class="text-warning">
                <ng-container *ngIf="prodForm.get('place')?.hasError('required')">Place is required.</ng-container>
                <ng-container *ngIf="prodForm.get('place')?.hasError('min')">Place should be greater than or equal to 1.</ng-container>
              </div>
              
              <div class="setting-item">
                <div class="row g-2">
                  <div class="col-md-5">
                    <h6>Price</h6>
                  </div>
                  <div class="col-md">
                    <label for="price">Price</label>
                    <input type="number" class="form-control" id="price" name="price" formControlName="price" min="0" max="1000">
                  </div>
                </div>
              </div>
              <!-- Display error messages for the "price" field -->
              <div style="margin-left: 80%;" *ngIf="prodForm.get('price')?.invalid && (prodForm.get('price')?.dirty || prodForm.get('price')?.touched)" class="text-warning">
                <ng-container *ngIf="prodForm.get('price')?.hasError('required')">Price is required.</ng-container>
                <ng-container *ngIf="prodForm.get('price')?.hasError('min')">Price should be greater than or equal to 0.</ng-container>
                <ng-container *ngIf="prodForm.get('price')?.hasError('max')">Price should be less than or equal to 1000.</ng-container>
              </div>
              
              <button class="btn btn-primary" style="margin-left: 41%;" expand="full" type="submit">Add</button>
              
            </form> </div><!-- card-body -->
      </div>
  
    <div class="main-footer mt-5">
      <span>&copy; 2023. Dashbyte. All Rights Reserved.</span>
      <span>Created by: <a href="http://themepixels.me" target="_blank">Themepixels</a></span>
    </div><!-- main-footer -->
  </div><!-- main -->
  
